* {
    font-family: Poppins, sans-serif;
}


/****** Start Style Main ******/

.color-main {
    color: #FF8B38;
}

.bg-main {
    background-color: #FF8B38;
}

.color-second {
    color: #8e9092;
}

.bg-second {
    background-color: #8e9092;
}

.color-thrid {
    color: #333333;
}

.bg-thrid {
    background-color: #101010;
}

.bg-2rd {
    background-color: #333333;
}

/****** End Style Main ******/


/***** Start override Bootstrap  *****/

.bg-light {
    background-color: #f2f2f2!important;
}

.w-60 {
    width: 60%!important;
}
/* Start NavBar */

.navbar {
    padding: .3rem 1rem;
}

.bg-dark {
    background-color: #101010 !important;
}

.navbar .navbar-brand h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar .navbar-brand h3 span {
    font-weight: 100;
    color: #ff9b51;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.scrolled-navBar {
    background-color: rgba(0, 0, 0, .2);
}


/* End NavBar */


/***** End override Bootstrap  *****/


/***** Start Header *****/

header {
    padding-top: 50px;
}

.bg-img .container {
    margin-top: 50px;
}

header .bg-img .bg-layer .container {
    padding-top: 100px;
}

header h1 {
    font-size: 4rem;
}

header h1 span {
    font-weight: 100;
}

.bg-img {
    height: 100vh;
    background-image: url("../imgs/2.jpg");
    position: relative;
    /* Used if the image is unavailable */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.bg-lay {
    position: absolute;
    background-color: rgba(2, 2, 2, 0.68);
    height: 100%;
    width: 100%;
}

.bg-img .container h1 span {
    color: #ff9b51;
}

.bg-img .container hr {
    width: 60px;
    height: 0.5px;
    margin-right: auto;
    margin-left: 0px;
}

.header-p {
    font-family: revert;
    color: #8e9092!important;
}

header button {
    background: transparent;
    color: white;
    border: 1.7px solid white;
    padding: 5px 15px;
    border-radius: 5px;
}

form .form-group .form-control {
    border: none;
    border-bottom: 1px solid #ced4da !important;
}

#header-form-button {
    color: #f8f9fa;
}

#header-form-button:hover {
    color: #212529;
}


/***** End Header *****/


/***** Start Social Media *****/

.social-media h4 {
    font-weight: bolder;
}

.social-media .fa-facebook:hover {
    color: darkblue;
}

.social-media .fa-twitter:hover {
    color: darkcyan;
}

.social-media .fa-google-plus:hover {
    color: darkgreen;
}

.social-media .fa-instagram:hover {
    color: darkred;
}

.social-media .fa-pinterest:hover {
    color: darkmagenta;
}

.social-media .fa-stumbleupon:hover {
    color: firebrick;
}

.social-media .fa-rss:hover {
    color: darkblue;
}


/***** End Social Media *****/


/***** Start Table *****/


.tables ul li.active,
.tables ul li:hover{
    background-color : #ff8b38;
}

/***** End Table *****/

/***** Start Sub list section ******/
.ligne{
    height: 1.2px;
}

.circle{
    border-radius: 50%;
    border: 3px solid #ff8b38;
    width: 60px;
    height: 60px;
}
.sub-list-img{
    width: 70%;
    height: 70%;
}


/****** End Sub list section ******/



