* {
    font-family: Poppins, sans-serif;
}


/****** Start Style Main ******/

.color-main {
    color: #2CCC6F; /* #FF8B38; */
}

.bg-main {
    background-color: #2CCC6F; /* #FF8B38; */
}

.color-second {
    color: #8e9092;
}

.bg-second {
    background-color: #8e9092;
}

.color-thrid {
    color: #333333;
}

.bg-thrid {
    background-color: #101010;
}

.bg-2rd {
    background-color: #333333;
}

.pointer {
    cursor: pointer
}

/****** End Style Main ******/


/***** Start override Bootstrap  *****/

.bg-light {
    background-color: #f2f2f2 !important;
}

.w-60 {
    width: 60% !important;
}

/* Start NavBar */
.w-80 {
    width: 80% !important;
}

.navbar {
    padding: .3rem 1rem;
}

.bg-dark {
    background-color: #101010 !important;
}

.navbar .navbar-brand h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar .navbar-brand h3 span {
    font-weight: 100;
    color: #2CCC6F; /* #FF8B38; */
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.scrolled-navBar {
    background-color: rgba(0, 0, 0, .2);
}

.btn-outline-success {
    color: #2CCC6F;
    border-color: #2CCC6F;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #2CCC6F;
    border-color: #2CCC6F;
}

/* End NavBar */


/***** End override Bootstrap  *****/


/***** Start Header *****/

header {
    margin-top: 52px;
}

header h1 {
    font-size: 4rem;
}

header h1 span {
    font-weight: 100;
}

.bg-img {
    background: url("../imgs/2.jpg") no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.bg-lay {
    background-color: rgba(2, 2, 2, 0.68);
}

.bg-img .container h1 span {
    color: #2CCC6F; /* #FF8B38; */
}

.bg-img .container hr {
    width: 60px;
    height: 0.5px;
    margin-right: auto;
    margin-left: 0px;
}

.header-p {
    font-family: revert;
    color: #8e9092 !important;
}

header button {
    background: transparent;
    color: white;
    border: 1.7px solid white;
    padding: 5px 15px;
    border-radius: 5px;
}

form .form-group .form-control {
    border: none;
    border-bottom: 1px solid #ced4da !important;
}

#header-form-button {
    color: #f8f9fa;
}

#header-form-button:hover {
    color: #212529;
}

#btn-header :hover {
    color: #2CCC6F;
    border: 1px solid #2CCC6F;
}

/***** End Header *****/


/***** Start Social Media *****/

.social-media h4 {
    font-weight: bolder;
}

.social-media .fa-facebook:hover {
    color: darkblue;
}

.social-media .fa-twitter:hover {
    color: darkcyan;
}

.social-media .fa-google-plus:hover {
    color: darkgreen;
}

.social-media .fa-instagram:hover {
    color: darkred;
}

.social-media .fa-pinterest:hover {
    color: darkmagenta;
}

.social-media .fa-stumbleupon:hover {
    color: firebrick;
}

.social-media .fa-rss:hover {
    color: darkblue;
}

@media (max-width: 768px) {

}

/***** End Social Media *****/


/***** Start Table *****/

@media (max-width: 768px) {
    .tables ul li {
        display: inline-block;
        border: none;
        margin-right: -5px;
        border-left: 1.5px solid;
        padding-left: 1.7rem !important;
        padding-right: 1.7rem !important;
        padding-top: 2rem !important;
        padding-bottom: 1.9rem !important;
    }

    .w-60 {
        width: auto !important;
    }
}

.tables ul li.active,
.tables ul li:hover {
    background-color: #2CCC6F; /* #FF8B38; */
}


#btn-A:hover,
#btn-B:hover,
#btn-C:hover {
    background-color: #333333 !important;
}

/***** End Table *****/

/***** Start Sub list section ******/
.ligne {
    height: 1.2px;
}

.circle {
    border-radius: 50%;
    border: 3px solid #2CCC6F; /* #FF8B38; */
    width: 60px;
    height: 60px;
}

.sub-list-img {
    width: 70%;
    height: 70%;
}


/****** End Sub list section ******/


/***** Start why this is awesome section ******/
.awesome .card .more-info-arrow {
    transition: all ease-in-out 0.2s;

}

.awesome .card .more-info {
    transition: all ease-in-out 0.2s;
}

.awesome .card:hover .more-info-arrow {
    background-color: #f2f2f2 !important;
    color: black !important;
    cursor: pointer;
}

.awesome .card:hover .more-info {
    background-color: #2CCC6F !important;
    color: white !important;
    cursor: pointer;
}

/****** End why this is awesome section ******/


/****** Start images section ******/
.img-1 {
    background-size: cover;
    width: 340px;
    height: 340px;
}

.img-1:nth-child(1) {

    background-image: url("../imgs/city-7.jpg");

}

.img-1:nth-child(2) {

    background-image: url("../imgs/city-2.jpg")

}

.img-1:nth-child(3) {

    background-image: url("../imgs/city-3.jpg")

}

.img-1:nth-child(4) {

    background-image: url("../imgs/city-4.jpg")

}

.img-1:nth-child(5) {

    background-image: url("../imgs/city-5.jpg")

}

.img-1:nth-child(6) {

    background-image: url("../imgs/city-6.jpg")

}

.img-1:nth-child(7) {

    background-image: url("../imgs/city-7.jpg")

}

.img-1:nth-child(8) {
    background-image: url("../imgs/city-8.jpg")

}

.images .row .col-3 .overlay {
    position: absolute;
    background-color: rgb(19 47 31 /90%);
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    /*visibility: hidden;*/
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

.images .row .col-3 .overlay .overlay-content {
    margin-left: 20px;
    margin-right: auto;

}

.overlay-content hr {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 2px solid #2CCC6F;

}

/****** End images section ******/

